{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-center text-primary">Добро пожаловать на сайт <span class="font-weight-bold">"ОДИНОЧКА.БАЙ"</span></h1>

        <h2 class="text-center text-secondary mt-3">Поиск, продажа, обмен одиночной шины, для любого вида техники:</h2>

        <ul class="row mt-4">
        {% if ads %}
            {% for ad in ads %}
                <li class="col-md-4 mb-3">
                    <div class="card shadow-sm">
                        <img src="{{ url_for('static', filename='media/' + ad.image_filename) }}" class="card-img-top" alt="Image" />
                        <div class="card-body">
                            <h5 class="card-title">{{ ad.title }}</h5>
                            <p class="card-text">{{ ad.description }}</p>
                            <p class="text-center">
                                <!-- Кнопка редактирования -->
                                <a href="{{ url_for('ad.edit_ad', ad_id=ad.id) }}" class="btn btn-warning">Редактировать</a>
                            </p>
                        </div>
                    </div>
                </li>
            {% endfor %}
        {% else %}
            <li class="col-12 text-center">Нет объявлений.</li>
        {% endif %}
        </ul>

        <p class="text-center mt-4">
            <a href="{{ url_for('ad.add_ad') }}" class="btn btn-success">Добавить объявление</a>
        </p>
        
        <div class="text-center mt-4">
        {% if current_user.is_authenticated %}
            <p><a href="{{ url_for('auth.logout') }}" class="btn btn-danger">Выйти</a></p>
        {% else %}
            <p>
                <a href="{{ url_for('auth.login') }}" class="btn btn-info">Войти</a>
                <a href="{{ url_for('auth.register') }}" class="btn btn-warning">Регистрация</a>
            </p>
        {% endif %}
        </div>
    </div>
{% endblock %}
